header{
    background-color: rgb(190, 26, 26);
}

nav{

    font-size: 30px;
}

nav li{
    display: inline-flex;
    margin-left: 30%;
}

nav li:hover{
    font-size: 35px;
    transition: 0.8s;
}



body{
    background-color: rgb(110, 245, 234);
}

h1 {
    text-align: center;
}

.centro{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

footer{
    background-color: white;
    text-align: center;
}
